
.banner {
	padding: 10px 0;
	margin-top: 10px;
	border-top: 10px solid;
	border-bottom: 10px solid;
}


.about-me-body {
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 5px;
	margin: 5px;
	text-align: justify;
}

body {
			font-family: 'Roboto', sans-serif;
			margin: 20px;
}

img {
	padding: 1px;
	border: 1px solid #021a40;
	background-color: white;

}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	list-style-type: none;
	display: inline;
}

#navigation li:not(:first-child):before {
	content: " | ";
}

.about-me-whole-box {
	background-color: #d3d3d3;
	width: 870px;
	padding: 10px;
	margin: auto;
}
